@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400|Crimson+Text:700&display=swap');

/* Assistant:200,300,400 */
body {
  font-family: 'Muli', sans-serif;
  margin: 2rem;
  color:#433f45;
}

h1,h2,h3,h4,h5,h6,p,div,ul,li {
  padding: 0;
  margin: 0;
}
#__next {
  position: relative;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 8rem;
}
h2 {
  font-family: 'Crimson Text', serif;
  font-size: 2.5rem;
}

.jp {
  font-family: '07logotypegothic7regular', sans-serif;
}
/* .slider-img:hover {
  transform: scale(1.5);
} */

/* .slider-img {
  transform: translateX(100%);
} */

.glide--item {
  height: 300px;
  width: 500px;
}