@font-face {
  font-family: '03SmartFontUI';
  src: url('./03SmartFontUI.woff2') format('woff2'),
      url('./03SmartFontUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: '07LogoTypeGothic7';
    src: url('./07LogoTypeGothic7.woff2') format('woff2'),
        url('./07LogoTypeGothic7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}